
<menus>
	<menu name="Applications" icon="/usr/share/icons/gnome/scalable/places/gnome-main-menu.svg" comment="Browse and run installed applications">
		<menu name="Games" icon="">
			<!--item ref="extremetuxracer.desktop" /-->
			<!--item ref="flightgear.desktop" /-->
			<item name="Tux" />
			<item name="racer" />
		</menu>
		<seperator />
		<!--item ref="gnome-dictionary.desktop" /-->
		<item name="Dictionary"
			comment="Check word definitions..."
			icon="/usr/share/icons/gnome/32x32/apps/accessories-dictionary.png"
			command="gnome-dictionary"
			terminal="false"
			 />
	</menu>
	<menu name="Places" comment="Access doc...">
		<item name="Desktop" command="gnome-open ~/Desktop" />
		<item name="Home" command="gnome-open ~" />
	</menu>
</menus>

